<br>
<div class="container card mb-3" style="max-width: 540px;" *ngFor="let film of pages?.results">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://image.tmdb.org/t/p/original/{{film.poster_path}}" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h1 class="card-title">{{ film.title }}</h1>
        <p class="card-text"> {{ film.overview }} </p>
      </div>
    </div>
  </div>
</div>
