<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active" >NETFLUX</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/listfilms']" routerLinkActive="router-link-active" >Films</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/listcategory']" routerLinkActive="router-link-active" >Category</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
  </nav>